@{
    ViewData["Title"] = "JSON file feltöltése";
}

<h1>Json file feltöltése</h1>

<form method="post" enctype="multipart/form-data" asp-controller="Worker" asp-action="ReadFile">
    <div class="form-group">
        <label for="file">Válasszon ki egy Json filet:</label>
        <input type="file" class="form-control-file" id="file" name="file" accept=".json" required>
    </div>
    <button type="submit" class="btn btn-primary">Feltöltés</button>
</form>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger mt-3" role="alert">
        @ViewBag.ErrorMessage
    </div>
}
